/*********************************************************/
/******************  COLORS VARIABLES  *******************/
/*********************************************************/

$txt-main: black;
$txt-inverse: white;
$txt-accent: purple;

$bg-primary: white;
$bg-secondary: lightgray;
$bg-accent: blue;
$bg-accent-alt: purple;

$btn-primary: blue;
$btn-primary-hover: lightblue;
$btn-primary-active: lightblue;
$btn-secondary: purple;
$btn-secondary-hover: mediumpurple;
$btn-secondary-active: mediumpurple;
$btn-disabled: gray;
